/*
  Responsive layout
*/
.modal img {
		vertical-align: middle;
		width: 90px;
		height: 90px;
		border-radius: 50%;
		border: 2px solid #1fb864;
		margin-left: 190px;
		margin-right: 190px;
	}
	
	.nothing-yet {
		background-image: url(<?php echo $fondos[array_rand($fondos)]?>);
		height: 400px;
		background-position: center;
	}
	
	.modal-title {
		text-align: center;
	}
	
	.pull-left {
		color: #11703b;
	}
	
	.glyphicon-thumbs-up:hover {
		color: #008000;
		cursor: pointer;
	}
	
	.glyphicon-thumbs-down:hover {
		color: #E10000;
		cursor: pointer;
	}
	
	.rating-stars {
		position: relative;
		vertical-align: baseline;
		color: #b9b9b9;
		line-height: 10px;
		float: left;
	}
	
	.grey-stars {
		height: 100%;
	}
	
	.filled-stars {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		overflow: hidden;
		color: #f7bf17;
	}
	
	.filled-stars:before,
	.grey-stars:before {
		content: "\2605\2605\2605\2605\2605";
		font-size: 19px;
		letter-spacing: 0px;
		line-height: 18px;
	}
	
	a {
		color: #0254EB
	}
	
	a:visited {
		color: #0254EB
	}
	
	a.morelink {
		text-decoration: none;
		outline: none;
	}
	
	.morecontent span {
		display: none;
	}
	
	.progress-label-left {
		float: left;
		margin-right: 0.5em;
		line-height: 1em;
	}
	
	.progress-label-right {
		float: right;
		margin-left: 0.3em;
		line-height: 1em;
	}
	
	.star-light {
		color: #e9ecef;
	}
	
	.alignleft {
		float: left;
	}
	
	.alignright {
		float: right;
	}
	
	.avatar {
		vertical-align: middle;
		width: 90px;
		height: 90px;
		border-radius: 50%;
		border: 2px solid #1fb864;
		margin-top: 45px;
		margin-bottom: 25px;
	}
	
	#one_star_progress {
		background-color: #F70E0A!important;
	}
	
	#two_star_progress {
		background-color: #F70E0A!important;
	}
	
	#three_star_progress {
		background-color: #ffc107!important;
	}
	
	#four_star_progress {
		background-color: #ffc107!important;
	}
	
	#five_star_progress {
		background-color: #1AB608!important;
	}
	
	ul.pagination li a {
		border-radius: 45px;
	}
	
	ul.pagination li a prev {}
	
	ul.pagination li a next {}
	
	ul.pagination li a.active {
		border-radius: 45px;
	}
