/*
  Responsive layout
*/
/*
  Responsive layout
*/
.modal  img {
	vertical-align: middle;
		width: 90px;
		height: 90px;
		border-radius: 50%;
		border: 2px solid #1fb864;
		margin-left: 190px;
		margin-right: 190px;
}
	.nothing-yet{
	background-image: url(https://cdn.dribbble.com/users/926537/screenshots/8768655/media/0eb8fcc9f2b8a55c589cfabd6cc89d94.gif);
	height: 400px;
	background-position: center;
	}
	.modal-title{
		text-align:center;
	}
	.pull-left {
		color: #11703b;
	}
	
	.glyphicon-thumbs-up:hover {
		color: #008000;
		cursor: pointer;
	}
	
	.glyphicon-thumbs-down:hover {
		color: #E10000;
		cursor: pointer;
	}
	
		
	a {
	color: #0254EB
	}
	a:visited {
		color: #0254EB
	}
	a.morelink {
		text-decoration:none;
		outline: none;
	}
	.morecontent span {
		display: none;
	}
	
	.progress-label-left {
		float: left;
		margin-right: 0.5em;
		line-height: 1em;
	}
	
	.progress-label-right {
		float: right;
		margin-left: 0.3em;
		line-height: 1em;
	}
	
	.star-light {
		color: #e9ecef;
	}
	
	.alignleft {
		float: left;
	}
	
	.alignright {
		float: right;
	}
	
	.avatar {
		vertical-align: middle;
		width: 90px;
		height: 90px;
		border-radius: 50%;
		border: 2px solid #1fb864;
		
	}
	 
	#one_star_progress {
		background-color: #F70E0A!important;
	}
	
	#two_star_progress {
		background-color: #F70E0A!important;
	}
	
	#three_star_progress {
		background-color: #ffc107!important;
	}
	
	#four_star_progress {
		background-color: #ffc107!important;
	}
	
	#five_star_progress {
		background-color: #1AB608!important;
	}
	ul.pagination li a {
    border-radius: 45px;
	}
	ul.pagination li a prev {
   
	}
	ul.pagination li a next {
   
	}
	ul.pagination li a.active {
    border-radius: 45px;
	}
